body {
  margin: 0;
  background: #0a0a0a;
  color: white;
  font-family: monospace;
  overflow-x: hidden;
}


.game-container {
  text-align: center;
  font-family: monospace;
  color: white;
}

button {
  padding: 12px 30px;
  background: black;
  color: cyan;
  border: 2px solid cyan;
  cursor: pointer;
  font-size: 1.2rem;
}


/* Modal background */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

/* Modal box */
.modal-content {
  background: #1c1c1c;
  padding: 25px;
  width: 400px;
  margin: 15% auto;
  border-radius: 8px;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content ul {
  text-align: left;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
